@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

@layer base {
  * {
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Inter', sans-serif;
  }
}

.react-calendar {
  border-radius: 6%;
  overflow: hidden;
}

.react-calendar__tile--active {
  background: #63da9d !important;
}

@media (max-width: 500px) {
  .ant-picker-panels {
    display: flex !important;
    flex-direction: column !important;
  }
}

.MuiSlider-root {
  color: black !important;
}
